.footer {
    background-color: #313030;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 47px 0 31px 0;
    }
    &__copyright {
        line-height: 26px;
        color: #b8b8b8;
    }
    &__social {
        display: flex;
    }
    &__social-item + &__social-item {
        padding-left: 18px;
    }
}