.our {
    background-color: #f6f2f2;

    &__inner {
        display: flex;
        padding: 110px 0;
    }
    &__box {
        padding-right: 112px;
    }
    &__box-title {
        font-size: 60px;
        line-height: 72px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.025em;
    }
    &__box-text {
        color: rgba($default, 0.7);
        padding: 36px 0 58px;
        width: 486px;
    }
    &__box-btn {
        width: 227px;
        height: 55px;
        background-color: $primary-color;
        border-radius: 5px;
        padding: 20px 63px;
        color: #fff;
        font-size: 18px;
        line-height: 34px;
        font-weight: 700;
        letter-spacing: 0.025em;
    }
}

.dyk {
    &__inner {
        padding: 109px 0;
        margin-bottom: 106px;
        position: relative;
        display: flex;
        &::after {
            content: "";
            position: absolute;
            width: 1249px;
            height: 2px;
            background-color: #ececec;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &__boxleft {
        padding-right: 130px;
    }
    &__boxleft-title {
        width: 500px;
        font-size: 42px;
        line-height: 55px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        color: rgba($default, 0.8);
    }
    &__boxleft-text {
        width: 510px;
        margin-top: 50px;
        margin-bottom: 58px;
    }
    &__boxleft-btn {
        border: 2px solid #ff0000;
        border-radius: 5px;
        font-size: 18px;
        line-height: 34px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: $primary-color;
        padding: 20px 60px;
        background-color: transparent;
    }

    &__boxright {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
    &__boxright-icon {
        margin-bottom: 35px;
    }
    &__boxright-title {
        color: rgba($default, 0.7);
        font-size: 24px;
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: 0.01em;
        margin-bottom: 17px;
    }
    &__boxright-text {
        color: rgba($default, 0.7);
        display: block;
    }
    &__boxright-item:nth-child(even) &__boxright-text {
        min-width: 313px;
    }
}

.gallery {
    margin-bottom: 138px;
    &__info {
        text-align: center;
    }
    &__title {
        color: rgba($default, 0.8);
        font-size: 42px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.01em;
    }
    &__text {
        margin: 0 auto;
        color: rgba($default, 0.7);
        max-width: 505px;
        position: relative;
        padding: 34px 0 29px 0;
        margin-bottom: 88px;
        &::after {
            content: "";
            position: absolute;
            width: 132px;
            height: 3px;
            background-color: $primary-color;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }

    &__buttons {
        text-align: center;
        margin-bottom: 66px;
    }
    &__btn {
        background-color: transparent;
        border: none;
        font-size: 22px;
        line-height: 24px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        color: rgba($default, 0.7);

        &.mixitup-control-active {
            color: $primary-color;
        }
    }
    &__btn + &__btn {
        margin-left: 57px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px;
    }
    &__item {
        width: 298px;
        height: 291px;
    }
    &__item-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
